@import '../../components/mixins/mixin';
@import '../../components/mixins/media';

.root {
    position: relative;

    height: 100%;
}

.sent {
    padding: 4px 8px;

    color: #ffffff;
    border: 1px solid #ab00ff;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #0040ff;

    font-size: 16px;
}

.content {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 350px;
    height: 100%;
    margin: 0 auto;

    @include media-s {
        padding: 0 4px;
    }
}

.textarea {
    width: 100%;
}

.affirmation {
    padding: 14px;

    text-align: center;

    color: $White;
    border: 1px solid #ab00ff;
    border-radius: 28%;
    background: rgba(80, 0, 255, 0.2);
    box-shadow: 0 0 6px 0 #fcff00;

    font-size: 16px;
    line-height: 20px;
}
