@import '../../../../../components/mixins/mixin';

.root {
    position: relative;

    display: grid;

    width: inherit;
    padding: 16px;

    border: 1px solid $GreyBorder;
    border-radius: 10px;
    background: #ffffff;

    grid-template-columns: 50fr 60fr 50px;
    grid-column-gap: 16px;
}
