@import '../../../../../components/mixins/mixin';
@import '../../../../../components/mixins/media';

.root {
    position: relative;

    display: grid;

    width: inherit;
    padding: 16px;

    border: 1px solid $GreyBorder;
    border-radius: 10px;
    background: #ffffff;

    grid-template-columns: 1fr;
    grid-row-gap: 8px;

    @include media-s {
        width: inherit;
    }
}

.rating {
    margin: 0 4px;
    padding: 4px;

    color: $Black;
    border: solid 1px $GreyBorder;
    border-radius: 50%;
}

.editButton {
    position: absolute;
    top: 8px;
    right: 8px;
}

.statusIcon {
    margin-right: 8px;

    color: $Grey;
}

.statusIcon_viewed {
    margin-right: 8px;

    color: $Green;
}
