@import '../../../../../components/mixins/mixin';
@import '../../../../../components/mixins/media';

.root {
    position: relative;

    display: flex;

    width: 100%;
    padding: 16px;

    border: 1px solid $GreyBorder;
    border-radius: 10px;
    background: #ffffff;

    @include media-s {
        width: inherit;
    }

    column-gap: 16px;
}

.poster {
    position: relative;

    width: 100px;
    height: 150px;
}

.detail {
    display: grid;

    width: 100%;

    grid-template-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 6px;

    grid-template-rows: auto 1fr;
}

.rating {
    margin: 0 4px;
    padding: 4px;

    color: $Black;
    border: solid 1px $GreyBorder;
    border-radius: 50%;
}

.title {
    position: relative;
    //grid-column: 1 / 3;
}

.description {
    color: $GreyText;

    @include media-s {
        grid-column: 1/3;
    }
}

.editButton {
    position: absolute;
    top: 8px;
    right: 8px;
}

.statusIcon {
    margin-right: 8px;

    color: $Grey;
}

.statusIcon_viewed {
    margin-right: 8px;

    color: $Green;
}

.ratingSelect {
    //width: 87px;
}
