@import '../mixins/mixin';

.root {
    cursor: pointer;
    text-decoration: none;

    color: $FontColor;

    &:hover {
        text-decoration: underline;

        color: $Blue;
    }
}

.root_bold {
    font-weight: 500;
}

.root_highlighted {
    color: $Red;

    &:hover {
        color: $Red;
    }
}
