@import '../../../components/mixins/media';

.root {
    position: fixed;
    z-index: 2;
}

.openButton {
    position: relative;

    transition: 0.5s;

    opacity: 0;

    @include media-m {
        opacity: 1;
    }

    &:hover {
        opacity: 1;
    }
}

.menu {
    display: flex;
    flex-direction: column;

    height: 100%;
    row-gap: 8px;
}

.login {
    position: absolute;
    bottom: 20px;
}
