@import '../../../../components/mixins/media';

.root {
    position: relative;

    width: inherit;
    padding: 60px;

    @include media-s {
        padding: 16px;
    }
}

.cards {
    margin-bottom: 16px;
    //@include media-s {
    //    padding: 0 8px;
    //}
}

.card {
    @include media-s {
        width: 100%;
    }
}

