@import '../../../../components/mixins/media';

.root {
    position: relative;

    width: inherit;
    padding: 32px;

    @include media-s {
        padding: 16px;
    }
}

.topLine {
    display: flex;

    column-gap: 16px;
}

.cards {
    display: flex;
    flex-direction: column;

    margin-bottom: 16px;

    column-gap: 16px;
    row-gap: 16px;
}

.card {
    width: 100%;
    max-width: 600px;
}
